.OtherWallets {
    display: flex;
    flex-direction: column;
}

.header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        color: var(--accent-color);
    }
}

.arrowBlock {
    padding: 5px 6px;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);

    &:hover {
        background-color: var(--inverted-bg-color);
        .arrow {
            & > path {
                fill: var(--inverted-bg-color);
                stroke: var(--bg-color);
            }
        }
    }
}

.arrow {
    width: 20px;
    height: 20px;

    & > path {
        fill: var(--secondary-bg-color);
        stroke: var(--inverted-bg-color);
    }
}

.arrowActive {
    transform: rotate(180deg);

    & > path {
        stroke: var(--inverted-bg-color);
    }
}

.wallets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.button {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;

    img {
        width: 30px;
        height: 30px;
    }
}
