:root {
    //fonts
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 24px;

    //size
    --navbar-height: 80px;
    --border-radius: 10px;

    //index
    --modal-z-index: 10;


    //color
    --overlay-color: rgb(0 0 0 / 60%);
    --green-color: #4CBB17;
    --red-color: #FF2400;
}
