.AppLink {
    padding: 10px;

    font-size: var(--font-size-m);
    color: var(--primary-color);
    text-decoration: none;

    border-radius: var(--border-radius);

    transition: background-color 0.5s;

    &:hover {
        background-color: var(--bg-color);

    }
}

.AppLink.active {
    color: var(--accent-color);
    background-color: var(--bg-color);
    transition: color, background-color 0.5s;
}

