.TokenPage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.secretBlock {
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.block {
    padding: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
}

.withoutConnectBlock {
    display: flex;
    max-width: 1000px;
    align-items: center;
    text-align: center;
    justify-content: center;
    p {
        line-height: 1.5;
    }
}
