.TradePage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    max-width: 1440px;
    min-height: calc(100vh - var(--navbar-height));
    margin: 0 auto;
    padding: 20px;
}
