.NotificationItem {
    display: flex;
    align-items: center;
    position: relative;
    padding: 14px;
    gap: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
}

.iconBlock {

}

.icon {
    width: 34px;
    height: 34px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        font-weight: 600;
        font-size: var(--font-size-s);
    }

    span {
        font-size: var(--font-size-s);
    }
}

.unread {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--accent-color);
}

.read {
    display: none;
}
