.Trade {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 700px;
    padding: 20px;

    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.amountInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectToken {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.assetA {
    display: flex;
    gap: 20px;
    align-items: center;

    padding: 10px;

    background: var(--bg-color);
    border-radius: var(--border-radius);
}

.someTokensHover {
    cursor: pointer;

    &:hover {
        background: var(--accent-color);
    }
}

.assetImage {
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: uppercase;
}

.arrow {
    color: var(--inverted-bg-color);
}

.assetB {
    display: flex;
    gap: 20px;
    align-items: center;

    padding: 10px;

    background: var(--bg-color);
    border-radius: var(--border-radius);

    img {
        height: 30px;
    }
}

.transactionInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;

    background: var(--bg-color);
    border-radius: var(--border-radius);
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tooltip {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.returnedBlock {
    display: flex;
    gap: 10px;
}

.deposit {
    display: flex;

    button {
        width: 100%;
    }
}
