.PoliciesTab {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.createPolicyForm {
    background-color: var(--secondary-bg-color);
    flex: 1;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: var(--border-radius);
}

.listPoliciesBlock {
    flex: 2;
}

.header {
    text-align: center;
}
