.dark {
    --bg-color: #1a1a1d;
    --inverted-bg-color: #fff;
    --secondary-bg-color: #282828;
    --help-bg-color: #29292c;
    --iverted-secondary-bg-color: #e5e5e5;
    --primary-color: #fff;
    --inverted-primary-color: #1a1a1d;
    --accent-color: #4f6cf8;
    --secondary-accent-color: #001fb6;
}
