.light {
    --bg-color: #fff;
    --inverted-bg-color: #1a1a1d;
    --secondary-bg-color: #e5e5e5;
    --help-bg-color: #cbc9c9;
    --iverted-secondary-bg-color: #282828;
    --primary-color: #1a1a1d;
    --inverted-primary-color: #fff;
    --accent-color: #9f9fe0;
    --secondary-accent-color: #7474c4
}
