.DocPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.fileUpload {
    display: flex;
    padding: 20px;
    width: 700px;
    gap: 20px;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
}

.header {
    text-align: center;
}

.fileStatusBlock {
    display: flex;
    max-width: 100%;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: var(--border-radius);
}

.textMessage {
    font-size: var(--font-size-s);
    line-height: 1.2;
}

.success {
    color: var(--green-color);
}

.error {
    color: var(--red-color)
}
