.Input {
    width: 100%;
    margin: 0;
    padding: 10px 14px;

    color: var(--primary-color);
    border-radius: var(--border-radius);

    background: var(--bg-color);
    border: 0;
}

.inputBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
        margin-left: 6px;
    }
}

.labelBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.clear {
    background: none;
    outline: none;
}

.filled {
    background-color: var(--bg-color);
    outline: 1px solid var(--bg-color);
    font-size: var(--font-size-m);
    color: var(--inverted-bg-color)
}

.invalid {
    outline: 1px solid var(--red-color);
}

.validationError {
    font-size: var(--font-size-s);
    color: var(--red-color);
}
