.FileUpload {
    display: flex;
    padding: 20px;
    min-width: 700px;
    gap: 20px;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
}

.header {
    text-align: center;
}
